html{
    box-sizing: border-box;
}

*,*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Stolzl', sans-serif;
    font-weight: 400;
}

body{
    background: #210E09;
    color: #fff;
}

li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

.container{
    margin: 0 auto;
    max-width: 1325px;
    padding: 0 10px;
}

html,body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

/* HEADER */

.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.header__list{
    display: flex;
    align-items: center;
}

.header__list-item + .header__list-item{
    margin-left: 30px;
    display: inline-block;
    font-size: 14px;
}

.header__btn{
    text-transform: uppercase;
    padding: 15px 30px;
    border: 2px solid #D5621D;
    border-radius: 5px;
}

/* FOOTER */

.footer{
    margin-top: 100px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #FFFFFF;
}  

/* FIRST SCREEN */

.firstScreen__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
}

.firstScreen__preview{
    width: 856px;
    height: 540px;
    background: url(../images/preview.jpg);
    border-radius: 10px;
    padding: 301px 60px 45px 60px;
}

.firstScreen__preview-description{
    padding: 10px 20px 7px;
    color: #210E09;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 150%;
    text-transform: uppercase;
}

.firstScreen__preview-title{
    margin-top: 30px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 150%;
}

.tabs-btn{
    text-transform: uppercase;
    background: rgba(213, 98, 29, 0.05);
    border-radius: 5px 5px 0px 0px;
    padding: 12px 48.5px 7px;
    width: 206px;
    display: inline-block;
}

.tabs-btn-active{
    padding: 12px 48.5px 7px;
    background: rgba(213, 98, 29, 0.1);
    border-radius: 5px 5px 0px 0px;
}

.tabs__content{
    border-radius: 0px 0px 5px 5px;
    display: none;
    padding: 39px 25px 37px;
}

.tabs__content-active{
    background: rgba(213, 98, 29, .1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tab__content-img + .tab__content-img + .tab__content-img{
    margin-top: 25px;
}

.tab__content-img {
    display: block;
    margin: 0 auto;
}

/* KITCHEN */

.kitchen{
    margin-top: 120px;
}

.kitchen__description{
    padding: 10px 20px 7px;
    background: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #210E09;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    max-width: 244px;
}

.kitchen__title{
    font-size: 40px;
    line-height: 150%;
    margin: 40px 0 80px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.kitchen__more{
    font-family: 'Gotham Pro' sans-serif;
    background: #D5621D;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 0 auto;
    margin-top: 111px;
    display: block;
    max-width: 171px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

:root{
    --swiper-theme-color: #fff;
    --swiper-navigation-size: 17px;
}

.swiper-button-next,
.swiper-button-prev{
    background: #D5621D;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}

.kitchen__card{
    display: flex;
}

.kitchen__card + .kitchen__card{
    margin-top: 60px;
}

.kitchen__card-textbox{
    padding-left: 25px;
}

.kitchen__card-img{
    width: 110px;
    height: 110px;
}

.kitchen__card-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: 5.5px;
    display: inline-block;
    width: 232px;
}

.kitchen__card-price{
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 10px 20px 7px;
    border: 2px solid #D5621D;
    border-radius: 5px;
    margin-left: 35px;
}

.kitchen__card-weight{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #D5621D;
    margin-bottom: 10px;
}

.kitchen__card-description{
    font-size: 14px;
    line-height: 150%;
    width: 350px;
}

.swiper-slide{
    width: 100%;
}

.swiper-wrapper{
    margin-left: 80px;
}

.slide-media-2,
.slide-media-3{
    display: none;
}

/* EVENTS AND TOURISTS */

.events__inner{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
}

.events-title,
.tourists-title{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 40px 0 35px;
}

.events-top,
.tourists-top{
    padding: 10px 20px 7px;
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #210E09;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    max-width: 260px;
}

.tourists-top{
    max-width: 276px;
}

.events-text,
.tourists-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    max-width: 376px;
    margin-bottom: 35px;
}

.events-link,
.tourists-link{
    padding: 15px 30px;
    max-width: 156px;
    border: 2px solid #D5621D;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* RIDER */

.rider__inner{
    padding-top: 150px;
}

.rider__content{
    display: flex;
    justify-content: space-between;
}

.rider-top{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 10px 20px 7px;
    background: #fff;
    color: #210E09;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    max-width: 246px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.rider-main-title{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.rider-name{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;
}

.riders{
    display: flex;
    justify-content: space-between;
}

.rider-sound-title{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 415px;
    margin-bottom: 50px;
}

.rider-link + .rider-link{
    margin-left: 25px;
}

.rider-links{
    max-width: 110px;
    margin: 0 auto;
    margin-top: 25px;
}

.--show{
    display: block;
}

.rider-tab + .rider-tab{
    margin-top: 20px;
}

.rider-tab{
    background: rgba(213, 98, 29, 0.1);
    border-radius: 5px;
    padding: 20px 40px;
    width: 526px;
    transition: 0.3s;
}

.rider-tab-title{
    display: inline-block;
    font-family: 'Gotham Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rider-tab-btn{
    display: inline-block;
    float: right;
    transition: .3s ;
    width: 25px;
    height: 25px;
}

.rider-tab-img{
    display: block;
}

.rider-tab-desc{
    display: none;
    margin-top: 25px;
    margin-left: 20px;
}

.--show{
    display: block;
    transition: .4s;
}

.--hide{
    display: none;
    transition: .4s;
}

.rider-tab-btn-hide{
    transform: rotate(180deg);
}

.rider-tab-active{
    background: #D5621D;
}

.rider-tab-item + .rider-tab-item{
    margin-top: 20px;
}

.rider-tab-item{
    list-style: disc;
}

/* CONTACTS */

.contacts__inner{
    padding-top: 150px;
}

.contacts-top{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 10px 20px 7px;
    background: #fff;
    color: #210E09;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    max-width: 247px;
    margin-bottom: 40px;
}

.contacts-main-title{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.contacts__content{
    display: flex;
    justify-content: space-between;
}

.contacts__textbox{
    background: rgba(213, 98, 29, 0.1);
    border: 2px solid #D5621D;
    border-radius: 5px;
    padding: 50px;
}

.contacts-title{
    font-family: 'Gotham Pro' sans-serif;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.contacts-text{
    max-width: 316px;
    padding-bottom: 35px;
    font-size: 14px;
    line-height: 150%;
}

.contacts__textbox>hr{
    margin-top: 10px;
    margin-bottom: 45px;
}

.contacts-map{
    border: 2px solid #D5621D;
    border-radius: 5px;
}

.contacts-map>iframe{
    border-radius: 3px;
    display: block;
}

/* CORPORATE */

.corporate__inner{
    padding-top: 55px;
}

.corporate-top{
    padding: 10px 20px 7px;
    background: #fff;
    color: #210E09;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0 auto;
    display: block;
    max-width: 255px;
}

.corporate-title{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 40px;
}

.corporates-title{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 100px;
}

.corporates{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 820px;
    margin: 0 auto;
}

.corporates__card-img{
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}

.corporates__card-text{
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    max-width: 376px;
    margin: 0 auto;
    margin-top: 40px;
}

.aboutEvents-title{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 100px;
}

.aboutEvents__list{
    max-width: 636px;
    margin: 0 auto;
    margin-top: 60px;
}

.aboutEvents__list-item + .aboutEvents__list-item{
    margin-top: 20px;
}

.aboutEvents__list-item{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    list-style: square;
}

.aboutEvents__list-item::marker{
    color: #D5621D;
}

/* GALERY */

.galery-top, .poster-top{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 10px 20px 7px;
    text-transform: uppercase;
    background: #fff;
    color: #210E09;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    max-width: 251px;
    margin-top: 55px;
}

.galery-title, .poster-title{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 40px 0 100px;
}

.galery__content,
.poster__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.galery-item + .galery-item + .galery-item + .galery-item + .galery-item,
.poster__item + .poster__item + .poster__item + .poster__item + .poster__item{
    margin-top: 25px;
}

.galery-item-img{
    display: block;
}

.galery-item-hover{
    margin-top: -350px;
    width: 306px;
    height: 350px;
    opacity: 0;
    transition: .2s;
    display: block;
}

.galery-item-hover:hover{
    opacity: 1;
}

.galery-item-hover-img{
    display: block;
}

/* POSTER */

.poster__hover{
    opacity: 0;
    margin-top: -350px;
    width: 306px;
    height: 350px;
    background: rgba(33, 14, 9, .9);
    position: relative;
    transition: .2s;
}

.poster__hover{
    margin-top: -350px;
}

.poster-img{
    display: block;
}

.poster__hover:hover,
.poster__hover-link:hover{
    opacity: 1;
}

.poster__hover-link{
    padding-top: 188px;
    display: block;
}

.poster-date{
    padding: 8px 15px;
    background: #D5621D;
    border-radius: 5px;
    display: block;
    margin-left: 35px;
    max-width: 180px;
}

.poster-name{
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 17px;
}

.poster-price{
    border: 2px solid #D5621D;
    border-radius: 5px;
    padding: 10px 20px 7px;
    max-width: 87px;
    margin-left: 35px;
    margin-top: 15px;
    font-family: 'Gotham Pro' sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* BURGER */

.burger-btn{
    display: none;
}

.burger-span + .burger-span{
    margin-top: 8px;
}

.burger-span{
    width: 34px;
    height: 2px;
    background: #D5621D;
    display: block;
    border-radius: 3px;
}

.burger__menu{
    transform: translateX(100%);
    height: 100vh;
    transition: linear all .2s;
    position: fixed;
    z-index: 15;
    right: 0;
    left: 0;
    top: 0;
    width: 280px;
    margin-left: auto;
    background: #210E09;
}

.burger__menu.--show{
    transform: translateX(0%);
}

.burger__menu-btn{
    display: block;
    margin: 40px auto;
}

.burger__list-link{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
}

.burger__list-btn{
    display: block;
    margin: 30px auto 0;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 2px solid #D5621D;
    border-radius: 5px;
}

/* MEDIA */

@media (max-width: 1320px){
    .firstScreen__preview{
        margin: 0 auto;
    }
    .swiper-wrapper{
        margin-left: 0;
    }
    .kitchen__card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .firstScreen__inner{
        display: block;
    }
    .tabs__content,
    .tabs{
        max-width: 416.81px;
        margin: 0 auto;
    }
    .tabs{
        margin-top: 30px;
    }
    .contacts__content{
        display: block;
    }
    .contacts__textbox{
        max-width: 500px;
        margin: 0 auto 30px;
    }
    .contacts-map{
        max-width: 864px;
        margin: 0 auto;
    }
}

@media (max-width: 1300px){
    .poster__item + .poster__item + .poster__item + .poster__item,
    .galery-item + .galery-item + .galery-item + .galery-item{
        margin-top: 25px;
    }
    .poster__content,
    .galery__content{
        grid-template-columns: repeat(3,1fr);
        max-width: 940px;
        margin: 0 auto;
    }
}

@media (max-width: 1230px){
    .events-tourists-img{
        display: none;
    }
}

@media (max-width: 990px){
    .rider__content{
        display: block;
    }
    .riders{
        max-width: 415px;
        margin: 0 auto;
    }
    .rider-sound-title{
        margin: 50px auto 50px;
    }
    .rider-tab{
        margin: 0 auto;
    }
}

@media (max-width: 980px){
    .poster__item + .poster__item + .poster__item,
    .galery-item + .galery-item + .galery-item{
        margin-top: 25px;
    }
    .poster__content,
    .galery__content{
        grid-template-columns: repeat(2,1fr);
        max-width: 632px;
    }
}

@media (max-width: 960px){
    .burger-btn{
        display: unset;
    }
    .header__list,
    .header__btn{
        display: none;
    }
}

@media (max-width: 900px){
    .firstScreen__preview{
        max-width: 600px;
    }
    .contacts-map{
        max-width: 604px;
    }
    .map{
        max-width: 600px;
    }
}

@media (max-width: 800px){
    .events__inner{
        display: block;
    }
    .events-text,
    .tourists-text{
        margin: 0 auto 35px;
    }
    .events-link{
        margin-bottom: 40px;
    }
}

@media (max-width: 740px){
    .corporates{
        display: block;
    }
}

@media (max-width: 700px){
    .aboutEvents__list{
        max-width: 400px;
    }
}

@media (max-width: 660px){
    .slide-media-1{
        display: none;
    }
    .slide-media-2{
        display: unset;
    }
    .kitchen__card{
        flex-direction: column;
    }
    .kitchen__card-img{
        width: 240px;
        height: 240px;
    }
    .kitchen__card-textbox{
        padding-left: 0;
        padding-top: 20px;
        max-width: 240px;
    }
    .kitchen__card-description{
        max-width: 240px;
    }
    .kitchen__card-title{
        display: inline-block;
        max-width: 148px;
    }
    .kitchen__card-price{
        margin-left: 0;
    }
    .poster__item + .poster__item,
    .galery-item + .galery-item{
        margin-top: 25px;
    }
    .poster__content,
    .galery__content{
        grid-template-columns: repeat(1,1fr);
        max-width: 306px;
    }
}

@media (max-width: 640px){
    .firstScreen__preview{
        max-width: 400px;
    }
    .firstScreen__preview-title{
        font-size: 28px;
    }
    .firstScreen__preview{
        max-width: 400px;
    }
    .contacts__textbox{
        max-width: 400px;
    }
    .contacts-map{
        max-width: 404px;
    }
    .map{
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 570px){
    .rider-tab{
        max-width: 400px;
    }
}

@media (max-width: 540px){
    .footer__inner{
        display: block;
        text-align: center;
    }
    .footer__copy{
        margin-bottom: 15px;
    }
}

@media (max-width: 480px){
    .aboutEvents__list{
        max-width: 300px;
    }
    .aboutEvents__list-item{
        font-size: 14px;
    }
}

@media (max-width: 460px){
    .firstScreen__preview{
        max-width: 310px;
        max-height: 300px;
        padding-top: 120px;
    }
    .firstScreen__preview-title{
        font-size: 18px;
    }
    .tabs,
    .tabs__content{
        max-width: 285px;
    }
    .tab__content-img{
        width: 130px;
    }
    .tabs__content{
        padding: 20px 5px;
    }
    .tabs-btn{
        padding: 12px 20px 7px;
        width: 140px;
    }
}

@media (max-width: 440px){
    .rider-tab{
        max-width: 300px;
    }
    .riders{
        display: block;
    }
    .rider-sound-img{
        display: block;
        margin: 30px auto 0;
    }
    .contacts__textbox{
        max-width: 300px;
    }
    .contacts-map{
        max-width: 304px;
    }
    .map{
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 400px){
    .events-text,
    .tourists-text{
        max-width: 300px;
    }
}

@media (max-width: 390px){
    .kitchen__card-img{
        width: 190px;
        height: 190px;
    }
    .kitchen__card-textbox{
        max-width: 190px;
    }
    .kitchen__card-description{
        max-width: 190px;
    }
    .kitchen__card-title{
        max-width: 140px;
        display: block;
    }
    .kitchen__card-price{
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .kitchen__card-weight{
        max-width: 50px;
        display: inline-block;
        margin-left: 20px;
    }
    .kitchen__more{
        margin-top: 40px;
    }
    .footer__copy{
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 15px;
        line-height: 140%;
    }
}

@media (max-width: 370px){
    .corporates__card-text{
        font-size: 16px;
    }
    .aboutEvents__list{
        max-width: 280px;
    }
}
